<h1>Herhangi Bir Şey Kaydet</h1>



<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-anything-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">İstediğinizi Kaydedin</h1>
                <% if (locals.validation_error != undefined) { %>
                    <%- include('./partials/_mesaj') %> 
               <%  } %> 
            </div>
            <form class="film" action="/administration/anythings" method="post">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" value="<%= typeof anythingName != 'undefined' ? anythingName : ''%>" name="anythingName" 
                        class="form-control form-control-user" id="exampleLastName"
                            placeholder="Ne kaydedeceksin?">
                    </div>
                    <div class="col-sm-6">
                        <textarea class="form-control form-control-user" name="anything" rows="10" cols="30" wrap="soft" 
                        value="<%= typeof anything != 'undefined' ? anything : ''%>" > Herhangi bir şey yaz. </textarea>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="datetime-local" value=" name="date" 
                        class="form-control form-control-user"
                            id="exampleInputPassword">
                            <p>Ne zaman izleyeceksin? Belli değilse boş bırakabilirsin.</p>
                    </div>
                   
            <div class="col-sm-6">
                <input type="text" value="<%= typeof date != 'undefined' ? date : ''%>" name= "date" 
                    class="form-control form-control-user"
                    id="exampleLastName" placeholder="Tarih(İsteğe Bağlı)">
            </div>
                </div>
                 -->
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Herhangi Bir Şeyini Kaydet
                </button>
                