<h1>Kitap Kaydet</h1>



<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-kitap-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Kitap Kaydedin</h1>
                <% if (locals.validation_error != undefined) { %>
                    <%- include('./partials/_mesaj') %> 
               <%  } %> 
            </div>
            <form class="kitap" action="/administration/books" method="post">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" value="<%= typeof bookName != 'undefined' ? bookName : ''%>" name="bookName" 
                        class="form-control form-control-user" id="exampleLastName"
                            placeholder="Kitap adı">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" value="<%= typeof writerName != 'undefined' ? writerName : ''%>" name="writerName" 
                        class="form-control form-control-user" id="exampleLastName"
                            placeholder="Yazar">
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="datetime-local" value=" name="date" 
                        class="form-control form-control-user"
                            id="exampleInputPassword">
                            <p>Ne zaman izleyeceksin? Belli değilse boş bırakabilirsin.</p>
                    </div>
                    -->
            <div class="col-sm-6">
                <input type="text" value="<%= typeof genre!= 'undefined' ? genre : ''%>" name= "genre" 
                    class="form-control form-control-user"
                    id="exampleLastName" placeholder="Tür">
            </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Kitabı Kaydet
                </button>