<h1>Film Kaydet</h1>



<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-film-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Film Kaydedin</h1>
                <% if (locals.validation_error != undefined) { %>
                    <%- include('./partials/_mesaj') %> 
               <%  } %> 
            </div>
            <form class="film" action="/administration/movies" method="post">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" value="<%= typeof movieName != 'undefined' ? movieName : ''%>" name="movieName" 
                        class="form-control form-control-user" id="exampleLastName"
                            placeholder="Film adı">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" value="<%= typeof directorName != 'undefined' ? directorName : ''%>" name="directorName" 
                        class="form-control form-control-user" id="exampleLastName"
                            placeholder="Film Yönetmeni">
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="datetime-local" value=" name="date" 
                        class="form-control form-control-user"
                            id="exampleInputPassword">
                            <p>Ne zaman izleyeceksin? Belli değilse boş bırakabilirsin.</p>
                    </div>
                    -->
            <div class="col-sm-6">
                <input type="text" value="<%= typeof kind != 'undefined' ? kind : ''%>" name= "kind" 
                    class="form-control form-control-user"
                    id="exampleLastName" placeholder="Tür">
            </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Filmi Kaydet
                </button>