<link rel="stylesheet" href="/admin/css/styles.css">


<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Kaydetmeye Başla</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <h4>Filmlerini Kaydet</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <a href="/administration/movies"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a>
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-film.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <h4>Kitaplarını Kaydet</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                       <a href="/administration/books"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a>
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-kitap.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <h4>Özel Günlerini Kaydet</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <a href="/administration/days"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a>
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-gun.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <h4>Kişilerini Kaydet</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                       <a href="/administration/persons"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a> 
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-person.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <h4>Herhangi Bir Şey Kaydet</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <a href="/administration/anythings"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a>
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-anything.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <h4>Bize Öner</h4>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <a href="/administration/offers"> <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div> </a>
                    </div>
                    <img class="img-fluid" src="/admin/img/welcome-offer.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section-->